// Specific CSS for your home-page
#show-page {
  font-family: "Lato", sans-serif;
  margin: 30px;
}

.profile {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-weight: 400;
  }

  h1 {
    font-weight: 700;
    font-size: 70px;
  }
}

.profile-info {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.about {
  h2 {
    font-weight: 600;
    margin-bottom: 25px;
  }

  h5 {
    font-weight: bold;
  }

  .stack-bio {
    display: flex;

    .stack {
      width: 30%;
      .d-flex {
        flex-wrap: wrap;
      }
    }

    .bio {
      width: 70%;
    }
  }

  .edu-social {
    .education {
      h5 {
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 0px;
      }
    }

    .social {
      padding-top: 20px;
    }
  }

}
